                    /*Pagina em geral*/
* {
    text-align: center;
}

                    /*Edição de titulo*/
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    box-shadow: 0 4px 10px; rgba(0, 0, 0.1);
    background-color: antiquewhite;
}

                    /*Body*/
body {
    background-color: aquamarine;
}

                    /*Button*/
button {
    background-color: bisque;
    box-shadow: 0 4px 10px; rgba(0, 0, 0.1);
    border-radius: 4px;
}